[submodule "microservices/ems-algasensors-device-management"]
	path = microservices/ems-algasensors-device-management
	url = https://github.com/rudineybarbosa/ems-algasensors-device-management.git
[submodule "microservices/ems-algasensors-temperature-monitoring"]
	path = microservices/ems-algasensors-temperature-monitoring
	url = https://github.com/rudineybarbosa/ems-algasensors-temperature-monitoring.git
[submodule "microservices/ems-algasensors-temperature-processing"]
	path = microservices/ems-algasensors-temperature-processing
	url = https://github.com/rudineybarbosa/ems-algasensors-temperature-processing.git
